html[data-theme="light"] {
    --pst-color-primary: black;
}

html[data-theme="dark"] {
    --pst-color-primary: rgb(200, 200, 200);
}

html[data-theme="dark"] .docutils.literal.notranslate {
    color: rgb(34, 163, 177);
}

html[data-theme="light"] .docutils.literal.notranslate {
    color: rgb(51, 191, 207);
}

.reference.external {
    color: rgb(128, 128, 128);
    font-style: italic;
    /* text-decoration: underline; */
}

/* em {
    color: rgb(125, 0, 187);
} */