/* h1 {
    color: black;
} */

html[data-theme="light"] {
    --pst-color-primary: black;
}


html[data-theme="dark"] {
    --pst-color-primary: rgb(226, 226, 226);

}


/* html[data-theme="light"] .h1 {
    color: black;
}

html[data-theme="dark"] .h1 {
    color: rgb(226, 226, 226);
} */

html[data-theme="dark"] .docutils.literal.notranslate {
    color: rgb(45, 207, 225);
}

html[data-theme="light"] .docutils.literal.notranslate {
    color: rgb(45, 207, 225);
}

/* em {
    color: rgb(125, 0, 187);
} */


.reference.external {
    color: rgb(152, 152, 152);
    font-style: italic;
    /* text-decoration: underline; */
}